* {
margin: 0;
padding: 0;
border: 0;
line-height: 1.4em;
vertical-align: baseline;
text-decoration: none;
outline: 0;
}

 body {
    font: 16px Arial;
    background-color: grey; 
	width: 100%; 
	margin: 0px 0px 0px 0px; 
	
}


p {
    font: 16px Arial;
	width: 80%; 
	margin: 0px 0px 0px 20px; 	
  
	 
 }
 H1 {
	 font: 40px Arial;
	 background-color: gray;
	  padding: 20px;
 }
  H2 {
	 font: 24px Arial;
	 background-color: gray;
	 margin: 110px 0px 0px 0px;
	 padding: 40px;
 }
 Header {
	 font: 24px Arial;
	 background-color: black;
	 word-spacing: 100px;
	 width: 100%;
	 height: 100%;
	 margin: 0px 0px 0px 0px;
	 padding: 0px;
 }

Footer{
	 font: 40px Arial;
	 background-color: gray;
	 width: 75%;
	 height: 150%;
	 margin: 20px 30px 20px 30px;
	 padding: 20px;
}

 .img{ 
	 width:300px; 
	 height:300px;
	 float:left;
	 margin: 0px 0px 20px 20px;
}
 .tekst { 
	height:300px; 
	float:left;
	
}
.lista{
	height: 400px;
	width:400px;
	float:left;
	margin: 0px 0px 0px 40px;
	
}

 